{
  "openapi": "3.0.0",
  "info": {
    "title": "Naver Maps Directions API",
    "version": "5.0.0",
    "description": "Naver Cloud Platform Maps Directions 5 API for route navigation"
  },
  "servers": [
    {
      "url": "https://naveropenapi.apigw.ntruss.com/map-direction/v1",
      "description": "Naver Maps Directions 5 API"
    },
    {
      "url": "https://naveropenapi.apigw.ntruss.com/map-direction-15/v1",
      "description": "Naver Maps Directions 15 API (more waypoints)"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyId": {
        "type": "apiKey",
        "in": "header",
        "name": "X-NCP-APIGW-API-KEY-ID",
        "description": "Naver Cloud Platform Client ID"
      },
      "ApiKeySecret": {
        "type": "apiKey",
        "in": "header",
        "name": "X-NCP-APIGW-API-KEY",
        "description": "Naver Cloud Platform Client Secret"
      }
    },
    "schemas": {
      "DirectionsRequest": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "description": "Start coordinates (longitude,latitude) e.g., '127.1058342,37.359708'",
            "example": "127.1058342,37.359708"
          },
          "goal": {
            "type": "string",
            "description": "Goal coordinates (longitude,latitude) e.g., '129.075986,35.179470'",
            "example": "129.075986,35.179470"
          },
          "waypoints": {
            "type": "string",
            "description": "Waypoint coordinates separated by '|' (max 5 for Directions 5, 15 for Directions 15)",
            "example": "127.5,37.5|128.0,36.5"
          },
          "option": {
            "type": "string",
            "enum": ["trafast", "tracomfort", "traoptimal", "traavoidtoll", "traavoidcaronly"],
            "default": "traoptimal",
            "description": "Route search option"
          }
        },
        "required": ["start", "goal"]
      },
      "DirectionsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "Response code (0 = success)"
          },
          "message": {
            "type": "string",
            "description": "Response message"
          },
          "currentDateTime": {
            "type": "string",
            "format": "date-time"
          },
          "route": {
            "type": "object",
            "properties": {
              "trafast": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/RouteResult"}
              },
              "tracomfort": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/RouteResult"}
              },
              "traoptimal": {
                "type": "array",
                "items": {"$ref": "#/components/schemas/RouteResult"}
              }
            }
          }
        }
      },
      "RouteResult": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "start": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "array",
                    "items": {"type": "number"},
                    "description": "[longitude, latitude]"
                  }
                }
              },
              "goal": {
                "type": "object",
                "properties": {
                  "location": {
                    "type": "array",
                    "items": {"type": "number"},
                    "description": "[longitude, latitude]"
                  },
                  "dir": {
                    "type": "integer",
                    "description": "Direction at destination"
                  }
                }
              },
              "distance": {
                "type": "integer",
                "description": "Total distance in meters"
              },
              "duration": {
                "type": "integer",
                "description": "Total duration in milliseconds"
              },
              "etaServiceType": {
                "type": "integer"
              },
              "departureTime": {
                "type": "string",
                "format": "date-time"
              },
              "bbox": {
                "type": "array",
                "items": {"type": "array", "items": {"type": "number"}},
                "description": "Bounding box [[minLng, minLat], [maxLng, maxLat]]"
              },
              "tollFare": {
                "type": "integer",
                "description": "Toll fare in KRW"
              },
              "taxiFare": {
                "type": "integer",
                "description": "Estimated taxi fare in KRW"
              },
              "fuelPrice": {
                "type": "integer",
                "description": "Estimated fuel cost in KRW"
              }
            }
          },
          "path": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {"type": "number"},
              "description": "[longitude, latitude]"
            },
            "description": "Array of path coordinates"
          },
          "section": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pointIndex": {"type": "integer"},
                "pointCount": {"type": "integer"},
                "distance": {"type": "integer"},
                "name": {"type": "string"},
                "congestion": {
                  "type": "integer",
                  "description": "0: unknown, 1: smooth, 2: slow, 3: congested, 4: very congested"
                },
                "speed": {"type": "integer", "description": "Speed in km/h"}
              }
            }
          },
          "guide": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "pointIndex": {"type": "integer"},
                "type": {
                  "type": "integer",
                  "description": "Guide type code"
                },
                "instructions": {"type": "string"},
                "distance": {"type": "integer"},
                "duration": {"type": "integer"}
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/driving": {
      "get": {
        "summary": "Get driving directions",
        "operationId": "getDrivingDirections",
        "security": [
          {"ApiKeyId": [], "ApiKeySecret": []}
        ],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "description": "Start coordinates (longitude,latitude)",
            "example": "127.1058342,37.359708"
          },
          {
            "name": "goal",
            "in": "query",
            "required": true,
            "schema": {"type": "string"},
            "description": "Goal coordinates (longitude,latitude)",
            "example": "129.075986,35.179470"
          },
          {
            "name": "waypoints",
            "in": "query",
            "required": false,
            "schema": {"type": "string"},
            "description": "Waypoint coordinates separated by '|'"
          },
          {
            "name": "option",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["trafast", "tracomfort", "traoptimal", "traavoidtoll", "traavoidcaronly"]
            },
            "description": "Route search option (up to 3, comma-separated)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/DirectionsResponse"}
              }
            }
          },
          "400": {
            "description": "Bad request (invalid parameters)"
          },
          "401": {
            "description": "Unauthorized (invalid API key)"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    }
  },
  "x-route-options": {
    "traoptimal": {
      "description": "Optimal route (default)",
      "priority": "Balanced between time and distance"
    },
    "trafast": {
      "description": "Fastest route",
      "priority": "Minimizes travel time"
    },
    "tracomfort": {
      "description": "Most comfortable route",
      "priority": "Prefers highways and main roads"
    },
    "traavoidtoll": {
      "description": "Avoid toll roads",
      "priority": "Minimizes toll costs"
    },
    "traavoidcaronly": {
      "description": "Avoid car-only roads",
      "priority": "Includes roads accessible by motorcycles"
    }
  },
  "x-python-integration": {
    "example": "import httpx\nfrom typing import Optional\n\nclass NaverDirectionsClient:\n    BASE_URL = 'https://naveropenapi.apigw.ntruss.com/map-direction/v1'\n    \n    def __init__(self, client_id: str, client_secret: str):\n        self.headers = {\n            'X-NCP-APIGW-API-KEY-ID': client_id,\n            'X-NCP-APIGW-API-KEY': client_secret\n        }\n    \n    async def get_directions(\n        self,\n        start_lng: float,\n        start_lat: float,\n        goal_lng: float,\n        goal_lat: float,\n        option: str = 'traoptimal'\n    ) -> dict:\n        async with httpx.AsyncClient() as client:\n            response = await client.get(\n                f'{self.BASE_URL}/driving',\n                headers=self.headers,\n                params={\n                    'start': f'{start_lng},{start_lat}',\n                    'goal': f'{goal_lng},{goal_lat}',\n                    'option': option\n                }\n            )\n            response.raise_for_status()\n            return response.json()"
  },
  "x-environment-variables": [
    {
      "name": "NAVER_CLIENT_ID",
      "description": "Naver Cloud Platform API Client ID (X-NCP-APIGW-API-KEY-ID)",
      "required": true
    },
    {
      "name": "NAVER_CLIENT_SECRET",
      "description": "Naver Cloud Platform API Client Secret (X-NCP-APIGW-API-KEY)",
      "required": true
    }
  ],
  "x-error-codes": {
    "0": "Success",
    "1": "Route not found",
    "2": "Start point error",
    "3": "Goal point error",
    "4": "Waypoint error",
    "5": "Route too long"
  },
  "x-rate-limits": {
    "directions_5": {
      "max_waypoints": 5,
      "notes": "Up to 5 waypoints per request"
    },
    "directions_15": {
      "max_waypoints": 15,
      "notes": "Up to 15 waypoints per request"
    }
  }
}
